:global {

    body {
        margin: 0;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
    }

    a {
        color: inherit;
        outline: none;
        text-decoration: none;
    }

}