:local {

    .nav {
        display: flex;
        font-size: 16px;
        font-weight: 300;

        &__link {
            display: block;
            fill: #74B1BE;
            height: 32px;
            line-height: 32px;
            padding: 0 10px;

            &:hover,
            &_active {
                color: #9FEAF9;
                fill: #9FEAF9;
            }

        }

        &__github-icon {
            width: 32px;
            height: 32px;
        }


    }

}